*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000000; */
}
/*  header section start */
header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}
.header-content{
    /* background-color: aqua; */
    font-size: 30px;
    font-family: "Montserrat";
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}

/* about section start*/
.about-content{
    letter-spacing: 2px;
    color: #ffffff;
    font-family:"Oswald";
    background-color:#000;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 450px;
}
.about{
    font-size: 35px;
    font-weight: 400;
    margin-top: 30px; 
    letter-spacing: 7px !important;   
}
.first_part
{
    width: 100%;
    margin-top: 50px !important;
    margin-left: 230px;
    font-size: 20px;
    border-left: 1px solid gray;
}
.detail{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
}
.second_part ,.third_part{
    font-size: 20px;
    margin-top: 50px !important;
    border-left: 1px solid gray;

}
.specialitaion{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
}

/* project section start */
.project-content{
    background-color:brown;
    height: 700px;
}
.project ,.client{
    text-align: center;
    letter-spacing: 5px;
    font-family:"Oswald";
    font-weight: 400;
    color: #ffffff;
    padding: 40px 0px
}
.project_img{
    height: 500px;
    max-width: 100%;
    display: flex;
    margin: 20px auto;
    border: 2px solid #222;
}
.project_img img{
    width: 100%;
    height: 100%;
}
.project_img .image{
    position: relative;
}
.image .img_content{
    position: absolute;
    top: 20px;
    left: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-family:'Oswald';
}
.img_content h2{
    font-weight: 300;
    font-size: 22px;
}
.img_content .arw{
    position: absolute;
    top: 200px;
    height: 10px;
    width: 20px;
}
.img_content .prw_txt{
    position: absolute;
    top: 193px;
    left: 30px;
}
.img_content .p_txt{
    position: absolute;
    top: 400px;
    bottom: 0;
    transform: rotate(270deg);
    letter-spacing: 2px;
    left: -40px !important;
}
.image .img_content1{
    position: absolute;
    left: 32%;
    top: 200px;
}
.img_content1 .search_icon{
    height: 70px;
}
.img_content1 .search_icon1{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 25px;
    left: 34%;
    text-align: center;
}
.img_content .arw1{
    position: absolute;
    top: 200px;
    height: 10px;
    width: 20px;
    left: 230px;
    transform: rotate(180deg);
}
.img_content .prw_txt1{
    position: absolute;
    top: 193px;
    left: 190px;
}

/* client section start */
.client-content{
    background-color:black;
    height: 700px;
}
.client-exp{
    justify-content: center;
    align-items: end;
    text-transform: uppercase;
    font-family: "Oswald";
    color: #c5a47e;
}
.client-exp h1{
    font-size: 100px;
}
#client-list1{
    text-align: center;
}
.img1{
    padding: 20px;
    filter:invert(0.5);
}
